// FONTS 

$fuenteprincipal: 'Lucida Sans';
$fuentesecundaria: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

//PALETA DE COLORES

$colors: (
    colorformulario: #ececec,
    colorprincipal: #5b0b83,
    colorsecundario: #efefef,
    colorhover: #399814,

)
