/* MAIN DE LA TIENDA */

.tiendaProducto{
    @extend %flexColumn;
    ul{
        li{
            list-style-type: none;
            overflow: hidden;
            a{
                font-family: $fuenteprincipal;
                font-size: 22px;
                text-decoration: none;
                color: map-get($colors, colorprincipal);
                text-align: left;
                
                
                img{
                    width: 100%;
                    height: 100%;
                    transition: all 0.5s;
                    &:hover{
                        transform: scale(1.2);
                    }
                    &:active{
                        opacity: 0.5;
                    }
                } 
            }
        }  
    }  
}
.description{
    list-style-type: none;
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    .tiendaProducto{
        ul{
            li{
                margin-left: -10px;
            }
        }
    }
}

/* MAIN DE TIENDA */